body {
  background-image: url("/images/mr-rogers.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}

.header {
  text-align: center;
  padding-top: 25px;
  font-family: 'Bungee Spice', cursive;
  height: 90px;
  font-size: 100px;
}

.form-group {
  text-align: center;
  padding-top: 140px;
}

.result {
  text-align: center;
  height: auto;
  padding: 0%;
  background: rgba(255,255,255,.3);
}

.beMine {
  text-align: center;
  height: auto;
  font-family: 'Delicious Handrawn', cursive;
  font-size: 70px;
  color: rgb(16, 14, 3);
  background: rgba(255,255,255,.3);
}

.result {
  font-size: 40px;
  color: rgb(12, 12, 12);
}

span {
  background: rgba(255,255,255,.3);
}